<div class="main-footer d-flex mt-5 pt-5 pb-5">
    <div class="footer-text d-flex flex-column justify-content-center">
        <h6>Event</h6>
        <h6>App</h6>
        <div class="mt-3">All Rights</div>
        <div>Reserved</div>
    </div>
    <div class="icon-container d-flex justify-content-around align-items-center">
        <div class="icon">
            <img class="icon-img" src="{{asset('assets/img/app.png')}}">
            <div class="overlay">
                <img class="icon-overlay-img mb-3" src="{{asset('assets/img/app_icon.png')}}">
                <h6>App</h6>
            </div>
        </div>
        <div class="icon">
            <img class="icon-img" src="{{asset('assets/img/data_protection.png')}}">
            <div class="overlay">
                <img class="icon-overlay-img mb-3" src="{{asset('assets/img/data_protection_icon.png')}}">
                <h6>Security</h6>
            </div>
        </div>
        <div class="icon">
            <img class="icon-img" src="{{asset('assets/img/disclaimer.png')}}">
            <div class="overlay">
                <img class="icon-overlay-img mb-3" src="{{asset('assets/img/disclaimer_icon.png')}}">
                <h6>Disclaimer</h6>
            </div>
        </div>
    </div>
</div>